
/* manubar area  */

.fa-circle-xmark{
font-size: 45px;
}

.mxtesf_containfonthead{
  /* background-color: red !important; */
   background-image: url(https://media.istockphoto.com/id/1271954989/photo/late-night-work.jpg?s=2048x2048&w=is&k=20&c=vuVticB_QJj8s-PO2fQQ-HIVXkMLSKHABASKd_FmYKs=);
   background-repeat: no-repeat;
   background-size: cover;
  
  height: 100vh;
}
.nemubarparents{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all .3s;
}
.nemubarparents ul{
display: flex;
justify-content: space-between;
margin-bottom: 0px;
width: 100%;
}
.nemubarparents li{
  list-style: none;
}
.nemubarparents a{
text-decoration: none;
color: white;
font-weight: 700;
}
.header_title1{
font-size: 25px;
font-weight: 700;
}
.header_title2{
    font-size: 18px;
}
/* next 2 btn area */
.heading_1_5454{
font-size: 60px;
font-weight: 700;
margin-top: 30vh;


}
.heading_1_54gf54{
font-size: 18px;
margin-bottom: 40px;
}

.headidfdng_1_5454_icon{
padding: 20px 40px;
display: inline-block;
color: rgb(255, 255, 255);
background-color: #1F3D83;
text-decoration: none;
margin:0 15px;
border-radius: 5px;

}
.headidfdng_1fg_5454_icon{
    padding: 20px 40px;
    color: rgb(0, 0, 0);
    display: inline-block;
    background-color: white;
    text-decoration: none;
/* border: 1px solid rgb(31, 104, 152); */
border-radius: 5px;

}

.headidfdng_1_5454_icon:hover,.headidfdng_1fg_5454_icon:hover{
      background-color: #44CCAB;
      color: white;
    
}





 /* our caste  */
.headidfdng_1fgfdf_5454_icon{
padding: 90px 0;
}
.ctggr-dfeg7fds{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;

}
.items-card545{
/* border: 2px solid green; */
}
.card464d5df{
  /* background-color: red; */
    width: 100%;
    max-width: 335px;
    margin-inline: auto;
    box-shadow: 1px 2px 8px 0px gray;
    border-radius: 5px;

}
.heightof-img34df4{
    border-radius:  5px 5px 0 0;
height: 200px;
width: 100%;
background-size: cover;}
.class-boxyfdf0tefs{
padding: 20px;
}
.class-boxyfdf0tefs p{
margin-bottom: 0;
}
.lasttile-et54546w4{
font-size: 1.1rem;
font-weight: 700;
}
.lasttilel-e453{
font-size: 14px;
}
.BTN-FORVIEWALL{
display: inline-block;
padding: 20px 40px;
border-radius: 4px;
border: 1px solid rgb(29, 70, 204);
text-decoration: none;
margin-inline:  auto;
}
.footerxye-color{
  background-color: #1D222B;
  padding: 30px 0;
  color: white;

}
.difor-ioconfoff{
  background-color: rgb(255, 255, 255);
  position:absolute;
  width: 50px;
  height: 50px;
  right: 20px;
  top: 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 1px 8px black;
  z-index: 999;

}

/* //responsiveness */
@media (width<=575px) and (width>=0px){

    .heading_1_5454{
        font-size: 36px !important;
    }
    
    .ctggr-dfeg7fds{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        gap: 20px;

        }

           /* menubar */
           .nemubarparents{
            display: flex;
            align-items: center;
            height: auto;
            position: absolute;
            top: -100%;
              background-color: red;
              left: 0;
              right: 0;
            
        }

   





        .nemubarparents ul{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin-bottom: 0px;
        width: 100%;
        }
        .nemubarparents li{
        width: 100%;
        list-style: none;
        }
        .nemubarparents a{
            padding: 20px 0;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: 700;
        text-decoration: none;
        display: block;
        }
        /* =========================== */
.nemubarparents-toggle{
    display: flex;
    align-items: center;
    height: auto;
    position: absolute;
    top:0%;
      background-color: red;
      left: 0;
      right: 0;
    
}
.nemubarparents-toggle ul{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 0px;
    width: 100%;
    }
    .nemubarparents-toggle li{
    width: 100%;
    list-style: none;
    }
    .nemubarparents-toggle a{
        padding: 20px 0;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 700;
    text-decoration: none;
    display: block;
    }

/* =========================== */

.heading_1_5454{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5vh;
    
    
    }

    .headidfdng_1_5454_icon{

        margin:10px 15px;

        
        }
        .headidfdng_1fg_5454_icon{

            margin:10px 15px;
        
        }

}
@media (width<=767px) and (width>=576px){

    .ctggr-dfeg7fds{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;

        
        }
           /* menubar */
           .nemubarparents{
            display: flex;
            align-items: center;
            height: auto;
            position: absolute;
            top: -100%;
              background-color: red;
              left: 0;
              right: 0;
            
        }

   





        .nemubarparents ul{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin-bottom: 0px;
        width: 100%;
        }
        .nemubarparents li{
        width: 100%;
        list-style: none;
        }
        .nemubarparents a{
            padding: 20px 0;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: 700;
        text-decoration: none;
        display: block;
        }
        /* =========================== */
.nemubarparents-toggle{
    display: flex;
    align-items: center;
    height: auto;
    position: absolute;
    top:0%;
      background-color: red;
      left: 0;
      right: 0;
    
}
.nemubarparents-toggle ul{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 0px;
    width: 100%;
    }
    .nemubarparents-toggle li{
    width: 100%;
    list-style: none;
    }
    .nemubarparents-toggle a{
        padding: 20px 0;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 700;
    text-decoration: none;
    display: block;
    }

/* =========================== */

.heading_1_5454{
    font-size: 60px;
    font-weight: 700;
    margin-top: 8vh;
    
    
    }

    .headidfdng_1_5454_icon{

        margin:10px 15px;

        
        }
        .headidfdng_1fg_5454_icon{

            margin:10px 15px;
        
        }

}
@media (width<=991px) and (width>=768px){
    .ctggr-dfeg7fds{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
        }
        /* menubar */
        .nemubarparents{
            display: flex;
            align-items: center;
            height: auto;
            position: absolute;
            top: -100%;
              background-color: red;
              left: 0;
              right: 0;
            
        }

   





        .nemubarparents ul{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin-bottom: 0px;
        width: 100%;
        }
        .nemubarparents li{
        width: 100%;
        list-style: none;
        }
        .nemubarparents a{
            padding: 20px 0;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: 700;
        text-decoration: none;
        display: block;
        }
        /* =========================== */
.nemubarparents-toggle{
    display: flex;
    align-items: center;
    height: auto;
    position: absolute;
    top:0%;
      background-color: red;
      left: 0;
      right: 0;
    
}
.nemubarparents-toggle ul{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 0px;
    width: 100%;
    }
    .nemubarparents-toggle li{
    width: 100%;
    list-style: none;
    }
    .nemubarparents-toggle a{
        padding: 20px 0;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 700;
    text-decoration: none;
    display: block;
    }

/* =========================== */

.heading_1_5454{
    font-size: 60px;
    font-weight: 700;
    margin-top: 8vh;
    
    
    }

    .headidfdng_1_5454_icon{

        margin:10px 15px;

        
        }
        .headidfdng_1fg_5454_icon{

            margin:10px 15px;
        
        }

}